/* RESET */
* {
    /* border visualisation */
    /* border: red solid 1px; */
}

/* || Full page layout */

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}


/* || Recurring / shared components */


.header-link,
.hero-subtext,
.signup {
    font-size: 18px;
    color: #E5E7EB;
}

.signup {
    background-color: #3882F6;
    border: 0;
    border-radius: 8px;
    padding: 8px 32px;
    margin: 10px 0px;
    color: #F9FAF8;
    font-weight: 500;
}

/* || Header */

.header {
    background-color: #1F2937;
    padding: 8px 164px;
    flex: 1;
}

/** Navbar **/

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    gap: 24px;
    margin: 0;
    padding: 0;
}

.navbar .left {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

/** Hero text section **/
.hero-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    line-height: 120%;
}


.hero-section {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin: 96px 0px;
}

.hero-section .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hero-section .right {
    display: flex;
    background-color: #d9ddde;
    color: #F9FAF8;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.hero-section .signup {
    align-self: start;
}

.hero-subtext {
    margin-bottom: 96px;
}

/* || Information section */
.info-section {
    flex: 1;
    padding: 48px;
}

.info-section .header-text {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

.info-section .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 128px;
    margin: 64px 300px;
}

.info-section .card {
    /* border: 4px solid red; */
}

.info-section img {
    border: 5px solid #3882F6;
    border-radius: 16px;
    height: 250px;
    width: auto;
}

.card .text {
    margin-top: 8px;
    text-align: center;
}



/* || Quote section */
.quote-section {
    background-color: #E5E7EB;
    flex: 1;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
}

/* || Call to action section */
.action-call-section {
    flex: 1;
}

.action-call-box {
    background-color: #3882F6;
}


/* || Footer */